{
    "extends": "eslint:recommended",
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": [
        "react"
    ],
    "env": {
        "browser": true,
        "node": true,
        "mocha": true,
        "es6": true
    },
    "globals": {
        "React": true,
        "google": true,
        "io": true
    },
    "rules": {
        "indent": [ "error", 4 ],
        "space-before-function-paren": "off",
        "react/prefer-stateless-function": "warn",
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/jsx-uses-vars": 2,
        "linebreak-style": "off",
        "global-require": "off",
        "semi": "warn",
        "arrow-body-style": "off",
        "no-var": 2
    }
}