html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

.popover-inner {
    width: 220px;
}

.dropdown-item {
    cursor: pointer;
}

.route-info h1 {
    margin: 1em 0 .5em 0;
}

.route-info h1:first-child {
    margin-top: 0;
}

.route-info ol {
    padding-left: 1.5em;
}

.route-info li:not(:first-child) {
    margin-top: 2em;
}